<h1>
  <% if @movies.size > 1 %>
      <%= "MOVIES" %>
    <% else %>
      <%= "MOVIE" %>
    <% end %>
</h1>


<table border="1">
  <thead>
    <tr>
      <th>Title</th>
      <th>rating</th>
      <th>Total_gross</th>
      <th>description</th>
      <th>released_on</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= flopORtop(movie) %></td>
        <td><%= movie.description.truncate(40) %></td>
        <td><%= movie.released_on %></td>
        <td><%= link_to "Show", movie_path(movie.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>